/*GENERAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #F5F8FA;
    color: #33475B;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    
}

p {
    line-height: 26px;
}

/*UTILITY*/

.container {
    width: 1200px;
    margin: 0 auto;
}

.clearfix::after {
    content:"";
    display: block;
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
    text-align: right;
}

.box-shadow {
    box-shadow: 10px 10px 8px #aeb4c0;
}

.w-50 {
    width: 50%; /*per dividere il contenitore in 50 e 50*/
}

.w-30 {
    width: 30%;
}

.w-70 {
    width: 70%;
}

.w-25 {
    width: 25%;
}

ul li {
    list-style: none;   
}

a {
    text-decoration: none;
}

/*HEADER*/
.header-top {
    /*background-color:#F5F8FA;*/
    line-height: 80px;
    border-bottom: 2px solid rgb(88, 88, 88);
}

.header-bottom {
    background-color: white;
    line-height: 80px;
}
    
/*menu*/
.menu-inline li {
    display: inline-block;
    line-height: 0.5;
}

.logo img {
    vertical-align: middle;
}

/* DROPDOWN menu */
.dropmenu {
    position: relative;
}
.dropdown-menu {
    display: none;
    position: absolute;
    background-color:#F5F8FA; 
    z-index: 1;
}
.dropdown-menu li {
    width: 80%;
    line-height: 1;
}
.dropdown-menu a {
    display: block;
    padding: 10% 10%;
    text-decoration: none;
    color:  #33475B; 
}

.dropdown-menu a:hover{
    color: #01A4BD;
    text-decoration: underline; 
}

.dropmenu:hover .dropdown-menu  {
    display: block;
}

/*BUTTONS and Icons*/
.btn {
    display: inline-block;
    min-width: 50px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: #FF7A59;
    border: 1px solid #FF7A59;
    border-radius: 5px;
}

.btn-orange {
background-color: #FF7A59;
color: white;
font-size: bold;
}

.btn-orange .btn-big {
    padding: 40px;
}

.fas.fa-search.search {
    color: #01A4BD;
}

.fas.fa-check-circle {
    color: #FF7A59;
}

/*MAIN*/

/*jumbotron section*/
.jumbotron-img {
    height: 600px;
    background-color:#FFF3EE;
    background-image: url("../img/jumbotron.png");
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 110% 100%/*right bottom*/;
}

.jumbotron-img .container {
    position: relative;
    height: 100%;
}

.jumbotron-img .jumbotron-text {
    position: absolute;
    left: 0;
    top: 10%;
    transform: translate(0, 10%);
}

.jumbotron-img .jumbotron-text h1 {
    margin-bottom: 20px;
    font-size: 48px;
}

.jumbotron-img .jumbotron-text a {
    margin: 20px auto;
}

.jumbotron-img .divider {
    height: 60px;
    background-color: #A9E9E2;
    border-top: 2px solid #33475C;
    border-bottom: 2px solid #33475C;
    transform: translate(0, -100%);
}

/*claim*/
.claim {
    height: 400px;
    width: 900px;
    text-align: center;
}

.claim img {
    margin-top: 30px;
    max-width: 250px;
}

.claim h2 {
    font-size: 30px;
}
    
/*free hubspot crm section*/
.hubspot-crm h4 {
    margin-top: 30px;
    text-transform: uppercase;
}

hr {
   position: relative;
    bottom: 8px;
    left: 230px;
    width: 60%;
    height: 2px;
    background-color: black; 
}

.float-left .menu-inline-two {
    margin-top: 30px;
}

.hubspot-crm {
    height: 330px;
    background-color: white;
    text-align: left;
}

.float-left .crm {
    height: 100px;
    margin: 50px;
}

.relative {
    position: relative;
    bottom: 5px;
    right: 50%;
}

.float-left h3 {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 25px;
}

.float-left p {
    line-height: 26px;
}

/*columns marketing section*/
.marketing {
    height: 600px;
    margin-top: 50px;
    text-align: center;
    padding-top: 20px 30px;
}    

.mrkt-columns {
    height: 600px;
    background-color: white;
}

.col-two {
    margin: 0 5%;
    height: 600px;
    background-color: white;
}

.mrkt-img {
    margin-top: 20px;
    height: 100px;
    width: 100px;
}

.column-menu li {
    text-align: left;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mrkt-text {
    width: 80%;
    margin: 30px auto;
    padding-bottom: 30px;
    border-bottom: 1px solid black;
}


/*Learn and Grow Section*/
.grow {
    margin-top: 30px;
    padding: 35px 0 70px 0;
    background: linear-gradient(to right, #00a9b8, 50%, #00bca6);
    text-align: center;
    color: white;
    line-height: 26px;
}

.grow h2 {
    font-size: 30px;
    padding-bottom: 20px;
}

.grow p {
    padding-bottom: 20px;
}

.grow .grow-column {
    padding: 30px 0;
    border-right: 1px solid white;
}

.grow .column-top .grow-column:last-child,
.grow .column-bottom .grow-column:last-child {
    border-right: none;
}

.grow .column-top {
    border-bottom: 1px solid white;
}

.grow .grow-column img {
    margin-bottom: 15px;
    max-width: 180px;
}

.grow .grow-column .big {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
}

.pls {
    font-size: 25px;
}


/*numbers and logo section*/
.number {
    height: 600px;
}
.start-tool {
    height: 600px;
    width: 40%;
}

.box {
    height: 25%;
    width: 40%;
    margin-top: 50px;
    margin-left: 60px;
}

.logos {
    height: 40%;
    width: 60%;
}

.nbr {
    font-size: 36px;
}

.number .start-tool p {
    padding-top: 30px;
    line-height: 26px;
}

.nbr-two {
    font-weight: bolder;
}
.start h4 {
    margin-top: 40px;
    font-size: 30px;
}
.start a {
    position: relative;
    top:60px;
}
.tools {
    position:relative;
    top: 130px;
    font-size: 16px;
}
.logos img {
    margin-right: 40px;
    width: 100px;
}
.first-line {
    padding-top: 60px;
}
.first-line img:first-child,
.second-line img:first-child {
    margin-left: 20px;
}
.first-line img:nth-child(4),
.first-line img:nth-child(3) {
    width: 80px;
    position: relative;
    top:10px;
}
.second-line {
    margin-left: 15px;
    margin-top: 30px;
}
.second-line img:nth-child(2),
.second-line img:nth-child(4) {
    width: 90px;
    position:relative;
    bottom:16px;
    bottom:14px;
}

.second-line img:nth-child(3) {
    width: 90px;
    position: relative;
    bottom:8px;
}

.sticker img {
    width:310px;
    position: relative;
    left: 50%;
    top: 50px;
}

/*FOOOTER*/
footer {
    height: 600px;
}

footer a, 
footer {
    color: #cbd6e2;
}
footer a:hover {
    color: #00D3FF;
}

/*footer top*/
.footer-top {
    height: 500px;
    background-color: #2d3e50;
    color: #cbd6e2;
    line-height: 30px;
    border-bottom: 1px solid #cbd6e2;
}
.footer-top h6{
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #fff;
}
.other {
    color: #33475b;
}
.btn-white {
    position: relative;
    top: 20px;
    background-color: #cbd6e2;
    border: 1px solid #cbd6e2;
}
.social li{
    margin-top: 30px;
    margin-right: 27px;
    display: inline-block;
}

.langs {
    position: relative;
    left: 30%;
    transform: translate(3%,37%);
}
.langs li,
.legal li {
    display: inline-block;
    margin-right: 5px;
}

/* footer bottom*/
.footer-bottom {
    height: 130px;
    background-color:#2d3e50 ;
}
.copy-hub img {
    width: 100px;
    padding-top:30px;
    padding-bottom: 2px;
}
.legal {
    margin-top: 30px;
    text-align: right;
}

/*CHAT BUTTON*/
.chat {
    position: fixed;
    right: 10%;
    bottom: 5%;
}

.drop-up {
    display: inline-block;
}

.dropup-chat {
    display: none;
    position: fixed;
    background-color: #f1f1f1;
    min-width: 160px;
    bottom: 50px;
    z-index: 1;
}

.drop-up:hover .dropup-chat {
    display: inline-block;

}

.background {
    background-color: white;
    width: 200px;
    height: 100px;
}

.submit {
    background-color: #FF7A59;
    color: white;
    font-size: bold;
}
